/****************/
/*    General   */
/****************/
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Bitter|Great+Vibes|Nova+Round|Open+Sans|Oswald|Raleway|Salsa&display=swap');

:root {
  --batter: #ffff80;
  --blu: #00004d;
  --blueribbon: rgb(23, 37, 80);
  --bluegray: #2f3036;
  --clear: #e7e5e4;
  --cream: #fff6c1;
  --granite: #2F3036;
  --kumquat: #ff4d4d;
  --mint: #19c589;
  --persimmon: #ff2600;
  --shell: #ff5537;
  --softblu: #18399a;
  --softgray: #f3f3f3;
}

.up {
  font-size: 1.5rem;
}

.shine {
  filter: brightness(120%);
}

.matte {
  filter: contrast(50%);
}

.weighty {
  font-weight: 700;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.just {
  text-align: justify;
}

/*===============Body===============*/
#site-container {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

/*=============Header===============*/
header {
  background: var(--blueribbon);
  height: 75px;
  margin: -20px 0 50px 0;
  z-index: 9999;
  position: relative;
}

#menu {
  margin-left: 28%;
}

.up {
  display: none;
  margin: 0 0 0 10px;
}

.down {
  display: inline;
  margin: 0 0 0 5px;
}

/*Strip the ul of padding and list styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

/*Create a horizontal list with spacing*/
li {
  display: inline-block;
  float: left;
  margin-right: 1px;
}

/*Style for menu links*/
li a {
  display: block;
  min-width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Open Sans", Arial, sans-serif;
  color: white;
  background: var(--blueribbon);
  text-decoration: none !important;
}

li ul li a {
  font-family: "Salsa", cursive;
}

/*Hover state for top level links*/
li:hover a {
  background: var(--shell);
  font-weight: 600;
  color: dodgerblue;
}

li a:hover>span.up {
  display: inline;
}

li a:hover>span.down {
  display: none;
}

/*Style for dropdown links*/
li:hover ul a {
  background: linen;
  color: midnightblue;
  height: 40px;
  line-height: 40px;
  /*font-style: oblique;*/
  /*font-weight: 600;*/
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
  background: var(--shell);
  color: white;
}

/*Hide dropdown links until they are needed*/
li ul {
  display: none;
}

/*Make dropdown links vertical*/
li ul li {
  width: 250px;
  display: block;
  float: none;
  text-align: left;
  z-index: 99999;
}

/*Prevent text wrapping*/
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
  text-align: justify;
}

/*Display the dropdown on hover*/
ul li a:hover+.hidden, .hidden:hover {
  display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  cursor: pointer;
  font-family: "Open Sans", Arial, sans-serif;
  text-decoration: none;
  color: white;
  background: var(--shell);
  text-align: center;
  padding: 10px 0;
  display: none;
}

/*Hide checkbox*/
input[type=checkbox]+label {
  display: none;
}

/*=============Content==============*/
#container {
  margin: 0;
  padding: 0 0 25px 0;
}

#title {
  color: var(--blu);
  /*#18399a;*/
  margin: 30px 0 30px 0;
}

#side {
  margin: 50px 0 100px 0;
}

#side p {
  font-size: 2em;
  color: papayawhip;
  /*peachpuff*/
  padding: 10px 30px 10px 10px;
  margin: 23px 0 0 20px;
}

.jumbotron {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2736276/Teaneck%20Road%20Streetscape%203-18-19%20Denise%20%40%20Podium.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;
  width: 100vw;
  height: 1000px;
  position: relative;
  margin: -50px 0 0 0;
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-areas:
    "title1 title1 title2 title2"
    "buttons1 buttons1 buttons1 buttons1"
    "buttons2 buttons2 buttons2 buttons2";
  /*background-color: red;*/
  grid-template-columns: 15% 15% 15% 15%;
  grid-column-gap: 0.5%;
  * border: none;
  justify-content: center;
  margin: 100px 0 50px -40px;
  position: absolute;
}

.title1, .title2 {
  /*div[class^="title"]*/
  border-radius: 10px;
  color: var(--persimmon);
  background: var(--clear);
  padding: 0;
  /*background: #5E6469;*/
}

/*#ff3c1a #ffff4d*/
.title1 {
  grid-area: title1;
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 2em;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.title2 {
  grid-area: title2;
  grid-row: 1/2;
  grid-column: 3/5;
  font-size: 1.75em;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.donate1 {
  grid-area: buttons1;
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 1.35em;
}

.donate2 {
  grid-area: buttons1;
  grid-row: 2/3;
  grid-column: 2/3;
}

.donate3 {
  grid-area: buttons1;
  grid-row: 2/3;
  grid-column: 3/4;
}

.donate4 {
  grid-area: buttons1;
  grid-row: 2/3;
  grid-column: 4/5;
}

.donate5 {
  grid-area: buttons2;
  grid-row: 3/4;
  grid-column: 1/2;
}

.donate6 {
  grid-area: buttons2;
  grid-row: 3/4;
  grid-column: 2/3;
}

.donate7 {
  grid-area: buttons2;
  grid-row: 3/4;
  grid-column: 3/4;
}

.donate8 {
  grid-area: buttons2;
  grid-row: 3/4;
  grid-column: 4/5;
}

.buttons button {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  border: 1px solid midnightblue;
  border-radius: 20px;
  background: coral;
}

button a {
  text-decoration: none !important;
  font-size: 1.25em;
  font-weight: 600;
  color: navy;
}

/*====================================================*/
footer {
  background: var(--blueribbon);
  width: 100%;
  bottom: 0;
  position: absolute;
}

#f-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /*margin: 20px 0 0 0;*/
}

.fab {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  font-size: 1.65em;
  color: white;
  margin: 15px 0 0 0;
  cursor: pointer;
}

#f-menu li a {
  color: white;
}

.footer-base {
  text-align: center;
}

.footer-base p {
  color: white;
}

a#masthead, a#webmaster {
  color: papayawhip;
  text-decoration: none;
}

a#masthead:hover, a#webmaster:hover {
  color: tomato;
}


/*========================Servant=============================*/

body {background: lightsteelblue !important;}
/*blanchedalmond*/

#denise {
  position: relative;
  padding-bottom: 100px;
}

.d-bio {
  display: grid;
  grid-template-areas:
    "pic top top"
    "pic mid mid"
    "bio bot bot";
  margin: 0 0 60px 30px;
}

#page-title {
  font-family: 'Nova Round';
  font-size: 3em;
  font-weight: 700;
  margin: 0 0 30px 0;
  font-weight: 700;
}

#d-image {
  grid-area: pic;
  grid-row: 1/3;
  grid-column: 1/2;
  margin: 0;
}

.bio_list {
  grid-area: mid;
  grid-row: 2/3;
  grid-column: 2/4;
  margin: 0 30px;
}

#bio_header {
  grid-area: top;
  grid-row: 1/2;
  grid-column: 2/4;
  width: 1000px;
  margin: 0 0-30px 30px;
}

#bio_footer {
  grid-area: bot;
  grid-row: 3/4;
  grid-column: 2/4;
  margin: -30px 0 0 30px;
  overflow-wrap: break-word;
}

.statement {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
  line-height: 2;
  color: var(--currant);
  overflow-wrap: break-word;
}

.bio_list {
  font-family: "Open Sans", sans-serif;
  font-size: 1.0625em;
  line-height: 1.75;
  color: var(--blueribbon);
}

#denise img {
  border: none;
  border-radius: 30px;
}


/***************************/
/*    Responsive Styling   */
/***************************/

/*For Tablets*/
@media only screen and (max-width: 1300px) {
  #menu {
    margin-left: 18%;
  }

  #f-menu {
    margin-left: 0%;
  }

  .jumbotron {
    height: ;
  }

  .buttons {
    margin-top: 30px;
  }
}

/*=============================================*/
/*For Phones*/
@media only screen and (max-width : 760px) {
  header {
    background: var(--shell);
    height: 70px;
  }

  /*Hide checkbox*/
  input[type=checkbox]+label {
    display: block;
  }

  /*Show menu when invisible checkbox is checked*/
  input[type=checkbox]:checked~ul#menu {
    display: block;
  }

  #menu {
    margin-left: 0;
  }

  /*Make dropdown links appear inline*/
  ul {
    position: static;
    display: none;
  }

  #menu {
    margin: -7px 0 0 0;
  }

  /*Create vertical spacing*/
  li {
    margin-bottom: 1px;
  }

  /*Make all menu links full width*/
  ul li, li a {
    width: 100%;
  }

  /*Display 'show menu' link*/
  .show-menu {
    display: block;
  }

  /*===================================================*/
  #title {
    font-size: 1.9em;
    text-align: left;
    margin-bottom: 0;
    margin-left: 10px;
    color: var(--blu);
    /*6699cc */
  }

  #side {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  #side p {
    font-size: 1.5em;
    line-height: 1.25;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    text-align: left;
    font-weight: 500;
    color: peachpuff;
    /*var(--kumquat)990000#79a6d2#6699cc*/
  }

  #container {
    padding: 0;
  }

  .jumbotron {
    height: 1600px;
  }

  .buttons {
    grid-template-areas:
      "title1 title1 title1"
      "title2 title2 title2"
      "buttons1 buttons1 buttons1"
      "buttons2 buttons2 buttons2"
      "buttons3 button3 button3"
      "button4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.5%;
    margin: 0 0 0 -15px;
  }

  .title1 {
    grid-area: title1;
    grid-row: 1/2;
    grid-column: 1/4;
    font-size: 1.25em;
    font-weight: 600;
    margin: 0 0 10px 0;
    border-radius: 0;
  }

  .title2 {
    grid-area: title2;
    grid-row: 2/3;
    grid-column: 1/4;
    font-size: 1.25em;
    font-weight: 500;
    margin: 0 0 10px 0;
    border-radius: 0;
  }

  .donate1 {
    grid-area: buttons1;
    grid-row: 3/4;
    grid-column: 1/4;
    font-size: 1.125em;
  }

  .donate2 {
    /*$1*/
    grid-area: buttons2;
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .donate3 {
    /*$10*/
    grid-area: buttons2;
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .donate4 {
    /*$50*/
    grid-area: buttons2;
    grid-row: 4/5;
    grid-column: 3/4;
  }

  .donate5 {
    grid-area: buttons3;
    grid-row: 5/6;
    grid-column: 1/2;
  }

  .donate6 {
    grid-area: buttons3;
    grid-row: 5/6;
    grid-column: 2/3;
  }

  .donate7 {
    grid-area: buttons3;
    grid-row: 5/6;
    grid-column: 3/4;
  }

  .donate8 {
    grid-area: buttons4;
    grid-row: 6/7;
    grid-column: 1/4;
  }

  #f-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 10px 0 30px 0;
  }

/*=====servant======*/
#primary {display: block; margin-top: -150px; padding-top: 0;}

#page-title {font-size: 1.75em; line-height: 1;}

#denise .bio {text-align: justify; font-size: 1.175em; line-height: 1.5;}


}
